* {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color:white;
    font-size: 15px;

}
body{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/fond.png") no-repeat center top;
    background-color: black;
    background-size: 100%;
}

section h1 {
    display: flex;
	color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
	margin-top: 5%;
	font-size: 1.5em;
}

section h1 span {
    opacity: 0;
}

.retour{
    display: flex;
    background-color: rgba(0,0,0,0);
    color: white;
    margin-left: 5%;
   
}

section a:hover {
    text-decoration: underline;
    font-weight: bold;
}

section img {
    width: 1%;
    padding: 0;
}

input[type=text] {
	color : white;
    width:30%;
    padding: 10px 20px;
    margin:auto;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    border:none;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0);
    text-align: left;
}

select {
	color : rgba(255, 255, 255, 0.9);
    width:30%;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display : flex;
    flex-direction: column;
    border:none;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.6);

}

input[type=submit] {
    width: 200px;
    background-color: LightGray;
    color: black;
    padding: 5px 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: gray;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.9);;
    opacity: 1; /* Firefox */
}