
section h1 {
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 4%;
        font-size: 1.5em;
}

.retour {
    display:flex;
    background-color:rgba(0, 0, 0, 0);
    color:white;
    margin-left: 5%;
    margin-top : 3%;
}

.retour:hover {
    text-decoration: underline;
}