*
{
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body{
    /*background-color: rgba(0, 0, 0, 0.8);*/

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../Images/fond.png") no-repeat center top;
    background-color: black;
    background-size: 100%;
    background-position: 10% 0%;
}

header h1 {
    font-size: 45px;
    padding-left: 50px;
    font-weight: bold; 
}

section h1 {
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 4%;
        font-size: 1.5em;
}

.retour {
    display:flex;
    background-color:rgba(0, 0, 0, 0);
    color:white;
    margin-left: 5%;
    margin-top : 3%;
}