* {
    text-decoration: none;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0;
    padding: 0;

}

body{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/fond.png") fixed no-repeat center top;
    background-color: black;
    background-size: 100%;
}

.wrapper { /* classe du header sauf "domisep" */
    display: flex;
    position : fixed; 
    margin-left : 650px;
}

.domisep { /* division titre domisep */
    display :flex;
    flex-direction: row;
    position: fixed; 
}

ul { /* unordered list avec Home Langues et menu user les 3 ensemble*/
    display: flex; 
    flex-direction: row; 
}

h1 { /* titre Domisep*/
    font-size: 45px;
    padding-left: 50px;
    font-weight: bold; 
}

header{ /* intégralité du header*/
    height: 100px;
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
}

header li { /* élement de la liste un par un */
    width: 150px;
    line-height: 30px;
    padding: 20px; 
} 

header a:hover { /* le texte devient gras quand on passe dessus*/
    font-weight: bold;   
}
header a:hover span { /* quand on passe sur Home il est souligné*/
    text-decoration: underline;
}


.dropdownLang .noHover { /* menu déroulant de la langue française*/
    display: block;
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.5) url("../Images/ArrowDown.svg") no-repeat 70px center;
    background-size: 20px;
    width: 100px;
    margin: auto;
}
.dropdownLang .noHover p { /* FR */
    text-align: left;
    padding-left: 20px;
}
.dropdownLang .hover { /* menu déroulant de la langue anglaise cachée */
    display: none;
}

.dropdownLang:hover .hover p { /* EN */
    border-bottom: 1px solid white;
    width: 80px;
    margin: auto;
}

.dropdownLang:hover .hover { /* quand on passe sur "EN" */
    display: block;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100px;
    margin: auto;
}

.dropdownLang:hover .noHover { /* quand on passe sur "FR", il ne réapparait pas  */
    display: none;
}

.dropdown:hover #noHoverUser { /* quand on est sur le logo user, il ne réapparait pas dans le menu déroulant */
    display: none;
}
.dropdown:hover #hoverUser { /* Quand on est sur logo user, contenu du menu déroulant */
    display:block;
    border-radius: 7px;
    width: 150x;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
}
.dropdown:hover #hoverUser p { /* menu déroulant quand on est sur logo user*/
    padding: 10px;
    border-bottom: 1px solid white;
    width: 100px;
    margin: auto; 
}
.dropdown:hover #hoverUser #borderNone { /* pas de border sous déconnexion*/
    border: none;
}
.boutonmenuprincipal { /* logo user */
    background: rgba(0, 0, 0, 0) url("../Images/iconeuser.svg") no-repeat center center;
    background-size: 30px;
    padding: 20px;
    height: 30px;
    width: 150px;
    border: none;
} 

.dropdown #hoverUser { /* le menu déroulant n'est pas affiché quand on est pas sur le bouton user*/
    display: none;
} 

footer 
{
    color: rgba(255, 255, 255, 0.8);
    position: fixed; bottom: 3%; left: 62%; right: 0;
}

footer span:hover {
    text-decoration: underline;
}

