* {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color:white;
    font-size: 15px;

}
body{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../Images/Triangle.png") no-repeat center top, url("../Images/fond.gif") no-repeat center top;
    background-color: black;
    background-size: 100%;
}

/* logo /nav bar flex */
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;   
}



/* nav bar flex */ 
ul {
    display: flex;
    flex-direction: row;
}

/* logo */
h1 {
    font-size: 45px;
    padding-left: 50px;
    margin-bottom: 10px;
    font-weight: bold;
}

/* nav bar general */ 
header{
    height: 100px;
    margin-top: 20px;
    margin-right: 0;
}
header nav {
    display: flex;
    align-items: center;
    flex: 0 1 40%; 
}
header li {
    width: 150px;
    line-height: 30px;
    padding: 20px;
}

header a:hover {
    font-weight: bold;   
}
header a:hover span {
    text-decoration: underline;
}

/* langage scroll bar */
.dropdownLang .noHover {
    display: block;
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.5) url("../Images/ArrowDown.svg") no-repeat 70px center;
    background-size: 20px;
    width: 100px;
    margin: auto;
}
.dropdownLang .noHover p {
    text-align: left;
    padding-left: 20px;
}
.dropdownLang .hover {
    display: none;
}
.dropdownLang:hover .hover {
    display: block;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100px;
    margin: auto;
}
.dropdownLang:hover .hover p {
    border-bottom: 1px solid white;
    width: 100px;
    text-align: center;
}
.dropdownLang:hover .noHover {
    display: none;
}


/* User scroll bar */
.dropdown:hover #noHoverUser {
    display: none;
}
.dropdown:hover #hoverUser {
    display:block;
    border-radius: 7px;
    width: 150x;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.dropdown:hover #hoverUser p {
    padding: 10px;
    border-bottom: 1px solid white;
    width: 100px;
    margin: auto;
}
.dropdown:hover #hoverUser #borderNone {
    border: none;
}
.boutonmenuprincipal {
    background: rgba(0, 0, 0, 0) url("../Images/iconeuser.svg") no-repeat center center;
    background-size: 30px;
    padding: 20px;
    height: 30px;
    width: 150px;
    border: none;
}
.dropdown #noHoverUser {
    display: block;
}
.dropdown #hoverUser {
    display: none;
}

.connexionheader {
    border: solid white;
    background:rgba(255,255,255,0);
    margin-top:1.7em;
    padding-left:0%;
    padding-right:0%;
    padding-top:4px;
    padding-bottom:1%;
    margin-bottom:80em;
    font-size:60%;
    width: 180px;
    margin-right:6em;
}
.creationcompteheader {
    border: solid white;
    background:rgba(255,255,255,0);
    margin-top:1.7em;
    padding-left:0%;
    padding-right:0%;
    padding-top:4px;
    padding-bottom:1%;
    margin-bottom:80em;
    font-size:60%;
    width: 180px;
    margin-right:6em;
}
    




a p{
    margin: 3em auto;
    border: solid 1px ;
    width: 150px;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
}

#service{
    
    width: 80%;
    margin: auto;
    padding-top: 130px;
}

p{text-align: left;}

h2{
    text-align: left;
    font-size: 40px;
    margin-bottom: 2em;
}

#contact{
    
    width: 80%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 300px;
}

#titre{
    /*margin: 40% auto;*/
    margin-top:5em;
}

footer 
{
    color: rgba(255, 255, 255, 0.8);
    position: relative; bottom: 3%; left: 65%; right: 0;
}

footer span:hover {
    text-decoration: underline;
}

