
nav
{
    position: absolute; top:20%; left:3%;
}
nav+a
{
	text-decoration : none;
	color: rgba(255, 255, 255, 0.8);
}
#compte_link
{
	text-decoration : underline; 
}

.bouton1{ /* formulaire supprimer*/

    width: 30%;
    display: inline-block;
    justify-content: space-between;
    position: absolute; bottom:35%; right:10%;
}

.bouton1 input[type=submit] { /*bouton supprimer*/
    background-color: rgba(255,255,255,0.8);
    color: black;
    border: none;
    cursor: pointer;
    padding:center;
    width:40%;
    height: 30px;
    padding: 2px 0 3px 0;
    margin: 0% 2% 10% 2%;
    border-radius: 6px; 
    overflow: hidden;
    font-size: 19px
}

#change_etat
{
    width:30%;
    position: fixed; bottom:35%; right:-5%;
}

.bouton {
background-color: rgba(255,255,255,0.8);
color: black;
border: none;
cursor: pointer;
padding:center;
width:40%;
height: 30px;
padding: 2px 0 3px 0;
margin: 0% 2% 10% 2%;
border-radius: 6px; 
overflow: hidden;
font-size: 19px
}
.bouton a{
    color: black;
    border: none;
    cursor: pointer;
    padding:center;
    width:40%;
    height: 30px;
    padding: 2px 0 3px 0;
    margin: 0% 2% 10% 2%;
    border-radius: 6px; 
    overflow: hidden;
    font-size: 19px
    }
    .show{
        display: block;
    }
    
    .hide{
        display: none;
    }

input[type=text] {
    color : white;
    width:28%;
    padding: 5px 0px;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding-left: 55px;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 20px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
    background: rgba(0, 0, 0, 0.5) url("../Images/loupe.png") no-repeat 2% center;
    background-size: 30px;
    text-align: left;
    font-size: 20px;
    position: absolute; top:35%; right: 36%;
}


table {
 border-collapse:collapse;
 background-color: rgba(152, 152, 152, 0.8);
 width:75%;
 position: absolute; top:60%; right: 10%;
 }
th, td {
 border:0px solid black;
 padding: 0.5% 0% 0.5% 0%;
 width:20%;
 }
td {
 text-align:center;
 }
caption {
 font-size: 45px;
 font-weight: normal;
 text-align: left;
 padding-bottom: 2%;
 }