#divpiece 
{
    
    margin-top: 0%;
    margin:auto;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 1%;
    height: 400px;
    overflow: auto;
}

#pieces 
{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0%;
    margin:auto;
    width: 75%;
    flex-wrap: wrap;

}

.block {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top:0%;
    margin-bottom:5%;
    padding-top: 0%;
    margin-left: 3.5%;
    margin-right: 3.5%;

}
.block1 {
    width: 15%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 10%;
    margin-top: 2%;
    margin: auto;
    align-content: center;
    align-items: center;
}



.figure {
    padding:5%;
    font-size:10em;
    border : 1px solid white;
    background-color: #3C4459;
    text-align: center;
    max-width: 180px;
    max-height: 180px;
    width:23vw; height:23vw;
    overflow:hidden;

}
.figure1
{
    border : 1px solid white;
    background-color: #3C4459;
    padding-top: 7%;
    margin-left: 20%;
    margin-top: 2%;
    padding:auto;
    margin-top: 0%;
    font-size: 5em;
    text-align:center;
    width: 63%;
    height: 80%;
    overflow:hidden;
    align-content: center;
    align-items: center;
    justify-content: center;
   
} 

.Caractere {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    margin-top:5%;
    
    max-width: 200px;
    min-width: 130px;
    width:23vw;
}

.Caractere p{
    display: inline-block;
    margin: auto 0 auto 0;
    align-items: center;
    text-align: center;
    
}

.Caractere a{
    flex: 1 100 auto;
}

.caractère1 {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top:5%;
    margin-right:-5%;
    align-content: center;
    align-items: center;
    justify-content: center;
}
#pieces li{
    text-align: center;
}


.button
{
    background-color:#3C4459;
    text-align: center; 
    align-content: center;
    justify-content: center;
    margin-top:20em;  
}

section h2 {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-bottom:2%;
    margin-top:1%;
}

section a {
    display:flex;
    background-color:rgba(0, 0, 0, 0);
    color:white;
    margin-left: 0;
}

section .retour {
    display:flex;
    background-color:rgba(0, 0, 0, 0);
    color:white;
    margin-left: 5%;
}

.block1 .figure1 .plus {
    font-size: 1.4em;
    text-align:center;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
}

.ajoutpiece
{
    border-radius:5px;
    font-size: 1.3em;
    background-color :grey;
    padding-top:0.2%;
    padding-bottom :0.2%;
    color: black;
    padding-left:2.5%;
    padding-right:2.5%;
    margin: auto;
    margin-bottom: 3%;
    margin-top: 1%; 
    width: 300px;
    text-align: center;
}

.ajoutpiece p {
    margin: auto;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3C4459; 
  }
