* {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color:white;
    font-size: 15px;

}
body{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/fond.png") no-repeat center top;
    background-color: black;
    background-size: 100%;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap; 
    position : fixed;  
}

/* nav bar flex */ 
ul {
    display: flex;
    flex-direction: row;
    margin-left: 60px;
}

/* logo */
h1 {
    font-size: 45px;
    padding-left: 50px;
    margin-bottom: 10px;
    font-weight: bold;
}

/* nav bar general */ 
header{
    height: 100px;
    margin-top: 20px;
    margin-right: 0;
}
header nav {
    display: flex;
    align-items: center;
    flex: 0 1 40%; 
}
header li {
    width: 150px;
    line-height: 30px;
    padding: 20px;
}

header a:hover {
    font-weight: bold;   
}
header a:hover span {
    text-decoration: underline;
}

/* langage scroll bar */
.dropdownLang .noHover {
    display: block;
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.5) url("../Images/ArrowDown.svg") no-repeat 70px center;
    background-size: 20px;
    width: 100px;
    margin: auto;
}
.dropdownLang .noHover p {
    text-align: left;
    padding-left: 20px;
}
.dropdownLang .hover {
    display: none;
}
.dropdownLang:hover .hover {
    display: block;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100px;
    margin: auto;
}
.dropdownLang:hover .hover p {
    border-bottom: 1px solid white;
    width: 80px;
    margin: auto;
}
.dropdownLang:hover .noHover {
    display: none;
}

.creationcompteheader {
    border: solid white;
    background:rgba(255,255,255,0);
    margin-top:1.7em;
    padding-left:0%;
    padding-right:0%;
    padding-top:4px;
    padding-bottom:1%;
    margin-bottom:80em;
    font-size:60%;
    width: 180px;
    margin-right:6em;
}

.connexionheader {
    border: solid white;
    background:rgba(255,255,255,0);
    margin-top:1.7em;
    padding-left:0%;
    padding-right:0%;
    padding-top:4px;
    padding-bottom:1%;
    margin-bottom:80em;
    font-size:60%;
    width: 180px;
    margin-right:6em;
}


.formulaire {
    position: relative;
}

section h1 {
    display: flex;
	color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
	margin-top: 5%;
	font-size: 1.5em;
}

section h1 span {
    opacity: 0;
}

.retour{
    display: flex;
    background-color: rgba(0,0,0,0);
    color: white;
    margin-left: 5%;
    margin-top: 3%;
    position: relative;
   
}

section a:hover {
    text-decoration: underline;
    font-weight: bold;
}

section img {
    width: 1%;
    padding: 0;
}

input[type=email] {
	color : white;
    width:30%;
    padding: 10px 20px;
    margin:auto;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    border:none;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0);
    text-align: left;
}

input[type=submit] {
    width: 200px;
    background-color: LightGray;
    color: black;
    padding: 5px 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: gray;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.9);;
    opacity: 1; /* Firefox */
}

footer p
{
    color: rgba(255, 255, 255, 0.8);
    position: absolute; bottom: 2%; left: 73%; right: 0;
}