.retour{
    display: flex;
    background-color: rgba(0,0,0,0);
    color: white;
    margin-left: 5%;
    margin-top: 3%;  
}

.retour:hover {
    text-decoration: underline;
}

.page
{
display: flex;
flex-direction: row;
margin-top: 10%;
}

#conteneur1
{
    background: rgba(0, 0, 0, 0) url("../Images/compte.png") no-repeat bottom;
	background-size: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0.2px solid rgba(255,255,255,0.6);
    padding-bottom: 4%;
    width: 250px;
    height:220px;
    margin-left: 120%;
}


#conteneur2
{
    background: rgba(0, 0, 0, 0) url("../Images/House.png") no-repeat top;
    background-size: 100%;
	background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0.2px solid rgba(255,255,255,0.6);
    padding-bottom: 4%;
    width: 250px;
    height:220px;
    margin-left: 190%;
    

}

.element1
{
	font-size: 50px;
	font-weight: lighter;
	color: white;
    padding-bottom: 65%;
}
.element2
{
    font-size: 50px;
    font-weight: lighter;
    color: white;
    padding-top: 65%;
}

