#retour{

    margin-left: 5%;
    position: fixed;
}

section
{
	display: flex;
	flex-direction: row;
	width: 100%;
    height: 400px;
	justify-content: space-around;
	margin: auto;
    overflow: auto;
    font-size: 20px;
}

.info
{
	width: 35%;
	min-width: 280px;
	border: 0px white solid;
	padding: 2px;
	align-items: stretch;
	line-height: 100%;
}


input[type=text]
{
	width: 100%;
	height:100%;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    border:none;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0);
    text-align: left;
}

input[type=password]
{
	width: 100%;
	height:100%;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    border:none;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0);
    text-align: left;
}

input[type=email]
{
	width: 100%;
	height:100%;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    border:none;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0);
    text-align: left;
}

input[type=date]
{
	width: 100%;
	height:100%;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    border:none;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0);
    text-align: left;
}

::placeholder { 
    color:white;
    opacity: 1; 
}


.bouton {
background-color: rgba(255,255,255,0.8);
color: black;
border: none;
cursor: pointer;
padding:center;
width:100%;
height: 30px;
margin-right: 15%;
margin-bottom: 10%;
border-radius: 6px; 
overflow: hidden;
font-size: 19px
}

#test {
    display: flex;
    justify-content: space-between;
    padding-left: 12%;
    padding-top: 4%;
}

h2
{
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    padding-top: 3%;
}


select {
    width: 100%;
	height:100%;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    border:none;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.6);
    text-align: left;
}

