section h1 {
    display: flex;
	color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
	margin-top: 5%;
	font-size: 1.5em;
}

section h1 span {
    opacity: 0;
}

.retour{ /* bouton retour */
    display: flex;
    background-color: rgba(0,0,0,0);
    color: white;
    margin-left: 5%;
   
}

section a:hover { /* les boutons quand on les survole*/
    text-decoration: underline;
    font-weight: bold;
}
.formulaire{ /* tout le formulaire*/
    
    width: 30%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin:auto;
}

input[type=text] { /* nom du capteur */
	color : white;
    width:100%;
    padding: 10px 20px;
    margin:auto;
    margin-top: 25px;
    border:none;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0);
    text-align: left;
    font-size: 1em;
}

.bouton input[type=submit] { /*bouton valider*/
    
    width: 30%;
    background-color: LightGray;
    color: black;
    padding: 5px 5px;
    margin-left: 45%;
    margin-top: 10%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}


.bouton1{ /* formulaire supprimer*/
    
    width: 100%;
    display: flex;
    flex-direction: column;
    margin:auto;
}

.bouton1 input[type=submit] { /*bouton supprimer*/
    width: 30%;
    display: flex;
    justify-content: center;
    background-color: LightGray;
    color: black;
    padding: 5px 5px;
    margin-left: 30%;
    margin-top: -29px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

a[type=submit] { /* bouton annuler */
    
    width: 30%;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.9);
    padding: 5px 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: underline;
    font-size: 1em;
}

input[type=submit]:hover { /* quand on survole le bouton valider*/
    background-color: gray;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.9);;
    opacity: 1; /* Firefox */
}