* {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color:white;
    font-size: 15px;

}
body{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/fond.png") no-repeat center top;
    background-color: black;
    background-size: 100%;
}

section h1 {
    display: flex;
	color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
	margin-top: 5%;
	font-size: 1.5em;
}

section h1 span {
    opacity: 0;
}

.retour{
    display: flex;
    background-color: rgba(0,0,0,0);
    color: white;
    margin-left: 5%;
   
}

section a:hover {
    text-decoration: underline;
    font-weight: bold;
}
.formulaire{ /* tout le formulaire*/
    
    width: 30%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin:auto
}

.bouton1{ /* formulaire supprimer*/
    
    width: 100%;
    display: flex;
    flex-direction: column;
    margin:auto;
}

.bouton1 input[type=submit] { /*bouton supprimer*/
    width: 30%;
    display: flex;
    justify-content: center;
    background-color: LightGray;
    color: black;
    padding: 5px 5px;
    margin-left: 30%;
    margin-top: -29px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=text] { /* infos de la pièce à modifier */
	color : white;
    width:100%;
    padding: 10px 20px;
    margin:auto;
    margin-top: 25px;
    
    border:none;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0);
    text-align: left;
}

.bouton{ /* div des boutons valider et annuler */ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:100%;
}


.bouton input[type=submit] { /* bouton valider*/
    
    width: 30%;
    background-color: LightGray;
    color: black;
    padding: 5px 5px;
    margin-left: 45%;
    margin-top: 10%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

a[type=submit] {  /* bouton annuler*/
    
    width: 30%;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.9);
    padding: 5px 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: underline;
}

input[type=test] {
    
    width: 30%;
    background-color: LightGray;
    color: black;
    padding: 5px 5px;
    margin-left: 20%;
    margin-right: auto;
    margin-top: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

a[type=test] {
    
    width: 30%;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.9);
    padding: 5px 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: underline;
}

input[type=submit]:hover {
    background-color: gray;
}

input[type=submit] {
    
    width: 30%;
    background-color: LightGray;
    color: black;
    padding: 5px 5px;
    margin-left: 20%;
    margin-right: auto;
    margin-top: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

::placeholder { 
    color: rgba(255, 255, 255, 0.9);;
    opacity: 1; 
}
