* {
    text-decoration: none;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0;
    padding: 0;

}

body{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/fond.png") no-repeat center top;
    background-color: black;
    background-size: 100%;
}

h2 {
    text-align: center;
    font-size: 40px;
    padding-top: 10%;
}

em{
    text-align: center;
}

.page{
    border: none;
    margin-top: 5%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.page p{

    text-align: center;
    font-size: 20px;
}

#coneteneur1{
    background: url("../Images/iconemaison.png") no-repeat 30% center ;
    background-size: 3%;
    padding-top: 15px;
}

#coneteneur2{
    background: url("../Images/iconetel.svg") no-repeat 35% center ;
    background-size: 3%;
    padding-top: 15px;

}

#coneteneur3{
    background: url("../Images/iconemail.png") no-repeat 30% center ;
    background-size: 3%;
    padding-top: 15px;
}

