/* barre de navigation */ 
h2
{
	text-align: center;
	font-size: 30px;
	font-weight: normal;
}
nav
{
    position: absolute; top:20%; left:3%;
}
nav+a
{
	text-decoration : none;
	color: rgba(255, 255, 255, 0.8);
}
#compte_link
{
	text-decoration : underline; 
}

section h1 {
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    margin-top: 10%;

}

input[type=password] {
	color : white;
    width:30%;
    padding: 10px 20px;
    margin:auto;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    border:none;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0);
    text-align: left;
    font-size: 15px;
}

select {
	color : rgba(255, 255, 255, 0.9);
    width:30%;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display : flex;
    flex-direction: column;
    border:none;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.6);

}

input[type=submit] {
    width: 200px;
    background-color: LightGray;
    color: black;
    padding: 5px 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: gray;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.9);;
    opacity: 1; /* Firefox */
}
