* {
    text-decoration: none;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0;
    padding: 0;

}

body{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/fond.png") no-repeat center top;
    background-color: black;
    background-size: 100%;
}

#logement
{
    display:flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    margin: auto;
    margin-top: 10%;
    flex-wrap: wrap;

}

#logement p {
    font-size: 2em;
    text-align: center;
}

#logement p span {
    font-size: 2.5em;
    font-weight: bold;
}
.ajoutlogement
{
    border-radius:5px;
    font-size: 1.3em;
    background-color :grey;
    padding-top:0.2%;
    padding-bottom :0.2%;
    color: black;
    padding-left:2.5%;
    padding-right:2.5%;
    margin-top:3%;
}

