/* Code de la page */

.page
{
display: flex;
flex-direction: row;
justify-content: space-around;
margin-top: 15%;
}


#conteneur1
{
    background: rgba(0, 0, 0, 0) url("../Images/compte.png") no-repeat bottom;
	background-size: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 0.2px solid rgba(255,255,255,0.6);
    padding-bottom: 4%;
    width: 250px;
    height:220px;
}


#conteneur2
{
    background: rgba(0, 0, 0, 0) url("../Images/House.png") no-repeat top;
    background-size: 100%;
	background-color: rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 0.2px solid rgba(255,255,255,0.6);
    padding-bottom: 4%;
    width: 250px;
    height:220px;
    

}

#conteneur1 img {
	width: 250px;
	height: 100%;
	padding-top: 4%;

}
#conteneur2 img {
	width: 250px;
	height: 100%;
    padding-bottom: 4%;

}

.element1
{
	font-size: 50px;
	font-weight: lighter;
	color: white;
    padding-bottom: 65%;
}
.element2
{
    font-size: 50px;
    font-weight: lighter;
    color: white;
    padding-top: 65%;
}


/* HEADER */
*
{
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
header {
    text-align: center;
    color:white;
    font-size: 15px;
}

nav
{
    position: absolute; top:20%; left:3%;
}
nav+a
{
    text-decoration : none;
    color: rgba(255, 255, 255, 0.8);
}
#compte_link
{
    text-decoration : underline; 
}

body{
    /*background-color: rgba(0, 0, 0, 0.8);*/

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../Images/fond.png") no-repeat center top;
    background-color: black;
    background-size: 100%;
    background-position: 10% 0%;
}


.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap; 
    width: 90%;
}


/* logo */
h1 strong {
    font-size: 45px;
    margin-bottom: 10px;
    font-weight: bold;
}
h1{
    font-size: 28px;
    padding-left: 3%;
    margin-bottom: 10px;
    font-weight: bold;
    border: solid 2 px white;
}
/* langage scroll bar */
.dropdownLang .noHover {
    display: block;
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.5) url("../Images/ArrowDown.svg") no-repeat 70px center;
    background-size: 20px;
    width: 100px;
    margin: auto;
}

.dropdownLang
{
    margin: 16% 10% 10% 10%;
}
.dropdownLang .noHover p {
    text-align: left;
    padding-left: 20px;
}
.dropdownLang .hover {
    display: none;
}
.dropdownLang:hover .hover {
    display: block;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100px;
    margin: auto;
}
.dropdownLang:hover .hover p {
    border-bottom: 1px solid white;
    width: 80px;
    margin: auto;
}
.dropdownLang:hover .noHover {
    display: none;
}

.haut_droite
 {
    display: flex;
    width:123%;
    margin-right: 500%;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10%;

}
.admin
{
    border: auto;
    margin-top: 5%;
    margin-left: 10%;
    width: 100%;
    color:rgba(255, 255, 255, 0.8);
}

footer p
{
    color: rgba(255, 255, 255, 0.8);
    position: absolute; bottom: 2%; left: 73%; right: 0;
}
.quitter
{
    display: block;
    position: absolute; top:9.5%; left:90%;
    border: 2px solid white;
    background: rgba(0, 0, 0, 0) url("../Images/logo_quitter.png") no-repeat 5% center;
    background-size: 20px;
    width: 7.7%;
    padding: 0.3% 0 0.3% 0%;
}