body {
    background-color: #ADD8E6;
    text-align: center;
}

#row {
    flex-wrap: wrap;
    flex-direction: row;
}

form {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

button {
    width: 200px;
    height: 43px;
    padding-top: 7px; 
    text-align: center;
    color: white;
    background: #000;
    border-radius: 20px;
    border: none;
}